*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;


}

body{
   width: 100%;
   height: 100vh;
   background: #FBFBFF;
   font-family1: 'Manrope', sans-serif;
font-family1: 'Open Sans', sans-serif;

}