.all_post .post {
    height: auto;
    display: flex;
    flex-direction: column;

}

/* Style the table */
.post_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.post_table td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Style the table header */
.post_table th {
    background-color: #FF0033;
    color: #FFF;
    font-weight: bold;
}


.post_table td ul li {
    font-weight: bold;
    font-size: 2vw;
    margin: 1.5vw 2vw;
}


/* Style the first column in each row */
.post_table td:first-child {
    font-weight: bold;
}

/* Style the links */
.post_table a {
    color: #ff0000;
    text-decoration: none;
    
}