.YouTube_nav{
margin: 3vw 0;
height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
}

.YouTube_nav .y1{
  width: 20%; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
  font-size: 2vw;
  padding: 0 2.3vw;
  white-space: nowrap;
}

.y1 > div:nth-child(2) i{
   color: red;
      font-size: 3vw;
      width: 100%

}

.y1 > div:nth-child(2){
   font-weight: 900;
   width: 70%;
}

.y2{
display: flex;
justify-content: space-between;
align-items: center;
width: 50%;
height: 100%;
         padding: 1vw 0;

}

.y2 > :nth-child(1){
   width: 90%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.y2 > :nth-child(1) input{
   width: 100%;
   height: 100%;
   border-radius: 50px;
      border: 1px solid #B7B7B7;
    padding: 2vw;
    outline: none;

}

.y2 > :nth-child(2){
      width: 5vw;
      height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #CACACA54;
   border-radius: 50px;
      margin: 3vw;
      padding: 0 0.1vw;
}

.y2  div :nth-child(2){
}


.y3{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    font-size: 1.5vw;
    padding: 2vw;
}

.y3 > :nth-child(2){
   border: 1px solid #B7B7B7;
   border-radius: 50px;
   white-space: nowrap;
   padding: 1vw 2vw;
}
